<% title t '.title' %>
<h1><%= t '.title' %></h1>

<div class="panel borderless-top panel-default">
	<div class="panel-body">
		<p>Your inquiry has been sent and we'll be in touch as soon as possible.</p>
	</div>
</div>
