<% if obj and obj.errors.any? %>
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<%= flash[:error] %>
	<%= t('errors.template.header', model: mdl, count: obj.errors.count) %>
	<ul>
	<% obj.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
</div>
<% end %>