<div class="list-group">
	<%= link_to t('list_tutors', scope: 'common'), tutors_path, class: current_page?(tutors_path) ? "list-group-item active" : "list-group-item" %>
	<%= link_to t('messages.index.title'), messages_path, class: current_page?(messages_path) ? "list-group-item active" : "list-group-item" %>
	<%= link_to t('users.privacy.title'), privacy_path, class: current_page?(privacy_path) ? "list-group-item active" : "list-group-item" %>
	<a href="#" class="list-group-item">Contact</a>
	<a href="#" class="list-group-item">Help</a>
</div>