<div class="list-group">
	<%= current_page?(tutors_path) ? link_to(t('list_tutors', scope: 'common'), tutors_path, class: "list-group-item active") : link_to(t('list_tutors', scope: 'common'), tutors_path, class: "list-group-item") %>
	<%= current_page?(messages_path) ? link_to(t('messages.index.title'), messages_path, class: "list-group-item active") : link_to(t('messages.index.title'), messages_path, class: "list-group-item") %>
	<%= current_page?(privacy_path) ? link_to(t('users.privacy.title'), privacy_path, class: "list-group-item active") : link_to(t('users.privacy.title'), privacy_path, class: "list-group-item") %>
	<a href="#" class="list-group-item">Help</a>
</div>