<div class="list-group">
	<a href="#" class="list-group-item active">
	Random
	</a>
	<%= link_to t('list_tutors', scope: 'common'), tutors_path, class: "list-group-item" %>
	<%= link_to t('messages.index.title'), messages_path, class: "list-group-item" %>
	<%= link_to t('users.privacy.title'), privacy_path, class: "list-group-item" %>
	<a href="#" class="list-group-item">Help</a>
</div>